<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" #userEmail required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #userPwd required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a [routerLink]="['/sign-in']" class="small-text"
          >Already have an account?</a
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>