<ion-header>
  <ion-toolbar>
    <ion-title>register-car</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    [formGroup]="authService.addServiceForm"
    (submit)="authService.createClientService()"
  >
    <ion-item>
      <ion-label stacked>Car Model</ion-label>
      <ion-input
        formControlName="carModel"
        type="text"
        required
        placeholder="Type in your car model (e.g. 'Honda Civic')."
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Car Color</ion-label>
      <ion-input
        formControlName="carColor"
        type="text"
        required
        placeholder="Type in your car color (e.g. 'Black')."
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Plate Number</ion-label>
      <ion-input
        formControlName="carPlateNumb"
        type="text"
        required
        placeholder="Type in your car plate number."
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Select a Service</ion-label>
      <ion-select placeholder="Select One" formControlName="service" required>
        <ion-select-option value="Annual Service"
          >Annual Service</ion-select-option
        >
        <ion-select-option value="Major Service"
          >Major Service</ion-select-option
        >
        <ion-select-option value="Repair">Repair</ion-select-option>
        <ion-select-option value="Major Repair">Major Repair</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Comments</ion-label>
      <ion-input
        formControlName="comments"
        type="text"
        placeholder="Type in your car problem. (e.g. 'Flat tire')"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Select a date</ion-label>
      <ion-datetime displayFormat="DDDD, DD MM YYYY" [min]="myDate" placeholder="Select date" [ngModel]="myDate" (ionChange)="dateChanged($event)" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="danger"
          expand="block"
          [disabled]="!authService.addServiceForm.valid"
          >Continue</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
