<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="../../../assets/icon/gerslogo.png" alt="Ger's Garage">
      <h2>Welcome to Ger's Garage!</h2>
      <p>More than 20 years of excelence!</p>
    </ion-slide>
    <ion-slide>
      <h2>Take a look at our Services!</h2>
        <p><strong>From regular repairs to major services!</strong></p>  
      <h3>We accept almost every type of vehicle, from motorcycles to minibuses!</h3>
      <p>Click Continue now and book a service!</p>
    </ion-slide>
    <ion-slide>
      <h2>Book a service now!</h2>
      <p>Click Continue now, create an account if you do not have one, and book your service with us!</p>
    </ion-slide>
  </ion-slides>
</ion-content>