<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-title *ngIf="authService.admAuthorization(user)">Admin Mode</ion-title>
    <ion-button type="submit" color="danger" (click)="authService.SignOut()"
      >Sign out</ion-button
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Update Profile</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="register-car">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Register Service</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="services">
        <ion-icon name="square"></ion-icon>
        <ion-label>Your Services</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="admin" *ngIf="authService.admAuthorization(user)">
        <ion-icon name="square"></ion-icon>
        <ion-label>Manage Services</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
